[package]
name = "stello_pay_contract"
version = "0.0.0"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]
doctest = false

[dependencies]
soroban-sdk = { workspace = true }
hmac = { version = "0.12", default-features = false }
sha1 = { version = "0.10", default-features = false }

[dev-dependencies]
soroban-sdk = { workspace = true, features = ["testutils"] }
